# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Django
media
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static (uploaded files)
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual Environment
venv/
ENV/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

**/migrations/*
!**/migrations/__init__.py

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

# Temporary files
*.swp
*.tmp

# Logs
logs/
*.log

# Secrets
secret.key
*.pem
*.key

# Python build
build/
dist/
*.egg-info/

# Celery
celerybeat-schedule
celerybeat.pid

# mypy
.mypy_cache/

# pytest
.pytest_cache/

node_modules/

# Mac
.AppleDouble
.LSOverride
